<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher1"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.BookOnline"
        android:usesCleartextTraffic="true"
        tools:node="merge"
        tools:replace="android:allowBackup"
        tools:targetApi="31">
        <activity
            android:name=".BookmarkedOtherEslaheAlefbayeTohidActivity"
            android:exported="false" />
        <activity
            android:name=".PlayOtherEslaheAlefbayeTohidActivity"
            android:exported="false" />
        <activity
            android:name=".OtherEslaheAlefbayeTohidActivity"
            android:exported="false" />
        <activity
            android:name=".BookmarkedTahrimeSokhanActivity"
            android:exported="false" />
        <activity
            android:name=".BookmarkedMotefaregheActivity"
            android:exported="false" />
        <activity
            android:name=".BookmarkedBookActivity"
            android:exported="false" />
        <activity
            android:name=".PlayMusicActivity"
            android:exported="false" />
        <activity
            android:name=".MusicActivity"
            android:exported="false" />
        <activity
            android:name=".MatneFarmayshatActivity"
            android:exported="false" />
        <activity
            android:name=".PlayMotefaregheActivity"
            android:exported="false" />
        <activity
            android:name=".MotefaregheActivity"
            android:exported="false" />
        <activity
            android:name=".PlayTahrimeSokhanActivity"
            android:exported="false" />
        <activity
            android:name=".TahrimeSokhanActivity"
            android:exported="false" />
        <activity
            android:name=".MyFavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".MyTalkActivity"
            android:exported="false" />
        <activity
            android:name=".ResponseActivity"
            android:exported="false" />
        <activity
            android:name=".TalkQuestionActivity"
            android:exported="false" />
        <activity
            android:name=".WithoutResponseActivity"
            android:exported="false" />
        <activity
            android:name=".NewTalkingActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".TalkActivity"
            android:exported="false" />
        <activity
            android:name=".PlayEslaheAlefbayeTohidActivity"
            android:exported="false" />
        <activity
            android:name=".EslaheAlefbayeTohidActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".AboutAppActivity"
            android:exported="false" />
        <activity
            android:name=".SourceActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PlayBookActivity"
            android:exported="false" />
        <activity
            android:name=".BookActivity"
            android:exported="false" />
        <activity
            android:name=".AboutBookActivity"
            android:exported="false" />
    </application>

</manifest>